/* .HyperMD-header-6 {
    color:white;
}

.cm-header > .cm-underline {
    color: white;
} */

/* cm-active HyperMD-header HyperMD-header-6 cm-line */
/* cm-header cm-header-6 cm-hmd-internal-link */